<h1><%= post.title %></h1>
<h2>By: <%= post.user.name %></h2>
<p><img src="<%= post.image %>" alt="random image"></p>
<p><%= post.body %></p>

<p><a href="/">Back</a></p>

<hr />

<h3>Comments</h3>

<% post.comments.map((comment) => { %>
  <p>
    <%= comment.body %><br />
    <b><%= comment.user.name %></b>
  </p>
<% }); %>

<h3>Add comment</h3>

<form action="/post/<%= post.id %>/comment" method="POST">
  <p>Name: <input type="text" name="name" /></p>
  <p>Email: <input type="text" name="email" /></p>
  <p>
    Comment: <br />
    <input type="text" name="body" />
  </p>

  <p><input type="submit" value="Add comment" /></p>
</form>
